<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Baldur Showcase" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme">
    <div class="showcase-layout">
      <%= render "showcase/shared/nav" %>
      <main class="showcase-main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
