<%
  segments = Array(items)
  return if segments.empty?
  wrapper_classes = ['segmented', classes].compact.join(' ')
  wrapper_data = (local_assigns[:data] || {}).stringify_keys
  wrapper_role = local_assigns.fetch(:role, 'tablist')
  item_role = local_assigns.fetch(:item_role, 'tab')
%>
<%= tag.div class: wrapper_classes,
            id: local_assigns[:id],
            data: wrapper_data,
            role: wrapper_role,
            aria: { label: aria_label } do %>
  <% segments.each do |segment| %>
    <% segment = segment.respond_to?(:symbolize_keys) ? segment.symbolize_keys : segment %>
    <% label = segment[:label].to_s %>
    <% badge_label = segment[:badge_label].to_s.presence %>
    <% icon = segment[:icon].presence %>
    <% selected = !!segment[:selected] %>
    <% disabled = !!segment[:disabled] %>
    <% value = segment[:value].presence || label.parameterize %>
    <% icon_only = icon.present? && label.blank? %>
    <% data_attributes = (segment[:data] || {}).stringify_keys.merge('value' => value) %>
    <% button_aria = (segment[:aria] || {}).symbolize_keys %>
    <% button_aria = if item_role == 'tab'
                       button_aria.reverse_merge(selected: selected, disabled: disabled)
                     else
                       button_aria.reverse_merge(disabled: disabled)
                     end %>
    <% button_classes = [
      "segmented__button",
      ("is-selected" if selected),
      ("is-disabled" if disabled),
      ("is-icon-only" if icon_only),
      (segment[:class] if segment[:class].present?)
    ].compact.join(" ") %>
    <% button_options = {
      type: "button",
      class: button_classes,
      id: segment[:id],
      aria: button_aria,
      data: data_attributes
    } %>
    <% button_options[:role] = item_role if item_role.present? %>
    <% button_options[:tabindex] = selected ? 0 : -1 if item_role == 'tab' %>
    <%= tag.button(**button_options) do %>
      <% if icon.present? %>
        <%= ui_icon(icon, class_name: "segmented__icon") %>
      <% end %>
      <% if label.present? || badge_label.present? %>
        <span class="segmented__content">
          <% if label.present? %>
            <span class="segmented__label"><%= label %></span>
          <% end %>
          <% if badge_label.present? %>
            <span class="segmented__badge"><%= badge_label %></span>
          <% end %>
        </span>
      <% else %>
        <span class="sr-only"><%= segment[:sr_label].presence || value.to_s.humanize %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
