<%
  aria_label = local_assigns[:aria_label] || "Toggle theme"
  extra_classes = local_assigns[:classes]
  input_id = local_assigns[:id] || "theme-toggle-#{object_id}"
  toggle_classes = ["switch", "theme-toggle"].tap do |classes|
    classes << extra_classes if extra_classes.present?
  end.join(" ")
%>
<div class="<%= toggle_classes %>">
  <label class="switch__control" for="<%= input_id %>">
    <input id="<%= input_id %>"
           type="checkbox"
           data-theme-target="toggle"
           data-theme-toggle
           aria-label="<%= aria_label %>" />
    <span class="switch__track">
      <span class="switch__icon switch__icon--sun" aria-hidden="true"><%= ui_icon("sun", class_name: "h-4 w-4") %></span>
      <span class="switch__icon switch__icon--moon" aria-hidden="true"><%= ui_icon("moon", class_name: "h-4 w-4") %></span>
      <span class="switch__thumb"></span>
    </span>
    <span class="sr-only"><%= aria_label %></span>
  </label>
  <button type="button" class="icon-button theme-toggle__compact" aria-label="<%= aria_label %>" data-action="click->theme#toggle">
    <span class="theme-toggle__compact-icon theme-toggle__compact-icon--sun"><%= ui_icon("sun", class_name: "h-5 w-5") %></span>
    <span class="theme-toggle__compact-icon theme-toggle__compact-icon--moon"><%= ui_icon("moon", class_name: "h-5 w-5") %></span>
  </button>
</div>
